<!-- 1. Title and Primary Meta -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 2. Preconnect -->
<!-- 3. Async inline script -->
<!-- 4. CSS with @import -->

<link rel="stylesheet" href="/styles/index.css">

<!-- 5. Synchronous JS -->
<!-- 6. CSS without @import -->
<!-- 7. Preload -->

<link rel="preload" href="/fonts/Fira_Sans/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Fira_Sans/FiraSans-Bold.woff2" as="font" type="font/woff2" crossorigin>

<!-- 8. Defer inline script -->
<!-- 9. Prefetch/Prerender -->
<!-- 10. SEO/meta/icons/OS/etc. -->
<!-- 10.1 Open Graph (and Facebook) -->
<!-- 10.2 Twitter -->
<!-- 10.3 Microdata -->
