.card-set {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

@media (min-width: 668px) {
  .card-set {
    align-items: center;
  }
}

.card-set__title {
  margin: 0px;
}

.card-set__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

@media (min-width: 668px) {
  .card-set__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    max-width: 900px;
  }
}
