.funding-options {
  display: flex;
  flex-direction: row;
  gap: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.funding-options__article {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.funding-options__button {
  font-family: 'Fira Sans Medium', Arial, Helvetica, 'Ubuntu Sans', sans;
  appearance: none;
  color: hsl(var(--primary-text-color));
  background-color: hsl(var(--primary-back-color));
  font-weight: var(--header-weight);
  font-size: var(--paragraph-size);
  border: 2px solid hsl(var(--primary-color));
  border-radius: 12px;
  line-height: 1;
  width: 96px;
  height: 96px;
  opacity: 50%;
  cursor: pointer;
}

.funding-options__button:focus {
  outline-color: hsl(var(--primary-color));
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 4px;
  opacity: 100%;
}

.funding-options__button:hover {
  opacity: 100%;
}

.funding-options__button--supported {
  opacity: 100%;
}
