.newsletter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 880px) {
  .newsletter {
    width: 880px;
  }
}

.newsletter__title {
  margin: 0px;
}

.newsletter__form {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 12px;
  padding: 6px 0px;
}

.newsletter__email {
  width: 100%;
}

/* .newsletter__submit {} */
