.project-set {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-set__title {
  margin: 0px;
}

.project-set__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project-set__link {
  text-decoration: none;
  border-radius: 12px;
  padding: 8px;
}

.project-set__link:focus {
  outline-color: hsl(var(--primary-color));
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
}

@media (min-width: 676px) {
  .project-set--large {
    align-items: center;
  }

  .project-set--large .project-set__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    max-width: 900px;
  }
}
