:root {
  --primary-color: 257 24 47;
  --secondary-color: 37 99 60;
  --danger-color: 347 65 55;
  --border-color: 196 100 34;
  
  --dark-text-color: 240 11 96;
  --dark-back-color: 0 0 0;
  --light-text-color: 240 3 12;
  --light-back-color: 240 33 99;
  --primary-text-color: hsl(var(--dark-text-color));
  --primary-back-color: hsl(var(--primary-color));

  --grey-1-color: 0 0 95;
  --grey-2-color: 0 0 88;
  --grey-3-color: 0 0 74;
  --grey-4-color: 0 0 51;

  --tinted-opacity: 50%;
}