{% from 'blocks/project-card.njk' import projectCard %}

{% macro cardSet(title, projects) %}
<div class="card-set">
  <h2 class="card-set__title">{{ title }}</h2>
  <div class="card-set__wrapper">
    {% for p in projects %}
      {{ projectCard(p.title, p.summary, p.progress, p.duration, p.src, p.alt) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}