<footer class="footer">
  <div class="footer__newsletter">{% include 'blocks/newsletter.njk' %}</div>
  <div class="footer__copyright">{% include 'blocks/copyright.njk' %}</div>
  <div class="footer__theme-toggle">{% include 'blocks/theme-toggle.njk' %}</div>
</footer>