{% macro fundingOptions(optList) %}
<div class="funding-options">
  {% for opt in optList %}
    <article class="funding-options__article">
      <button class="funding-options__button">
        {{ opt.name }}
      </button>
    </article>
  {% endfor %}
</div>
{% endmacro %}