<div class="newsletter">
  <h2 class="newsletter__title">Newsletter</h2>
  <form class="newsletter__form" action="/newsletter/">
    <input type="email" name="email" class="newsletter__email input input--email">
    <input type="submit" class="newsletter__submit button button--primary">
  </form>
</div>