{% from 'blocks/person-card.njk' import personCard %}

{% macro personSet(title, people, isLarge=false) %}
<div class="person-set {{ "person-set--large" if isLarge }}">
  <h2 class="person-set__title">{{ title }}</h2>
  <div class="person-set__wrapper">
    {% for p in people %}
      <a class="person-set__link" href="{{ p.link }}">
        {{ personCard(p.name, p.src) }}
      </a>
    {% endfor %}
  </div>
</div>
{% endmacro %}
