{% from 'blocks/project-card.njk' import projectCard %}

{% macro projectSet(title, projects, isLarge=false) %}
<div class="project-set {{ "project-set--large" if isLarge }}">
  <h2 class="project-set__title">{{ title }}</h2>
  <div class="project-set__wrapper">
    {% for p in projects %}
      {{ projectCard(p.title, p.summary, p.progress, p.duration, p.src, p.alt) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}