<fieldset class="theme-toggle">
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="light">
    <strong class="theme-toggle__text">L<span class="theme-toggle__text-tail">ight</span></strong>
  </label>
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="auto" checked>
    <strong class="theme-toggle__text">A<span class="theme-toggle__text-tail">uto</span></strong>
  </label>
  <label class="theme-toggle__item">
    <input class="theme-toggle__control" type="radio" name="color-theme" value="dark">
    <strong class="theme-toggle__text">D<span class="theme-toggle__text-tail">ark</span></strong>
  </label>
</fieldset>